<!DOCTYPE html>
<html class="no-js">
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}theSocialNetwork{% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/static/img/favicon.ico">
    <link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/static/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <!-- end Bootstrap -->
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/static/css/normalize.min.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <!-- end Custom CSS -->
  </head>
  <body>
    <header>
      <div class="row">
        <div class="grid-50">
          <h1 style="text-align: left; font-size:30px">theSocialNetwork</h1>
        </div>
	      {% if session['login'] %}
          <div class="grid-50">
            <h1 style="text-align: right"><a href="{{ url_for('settings') }}"><img src="/static/img/settings-icon.png" style="width: 7%"></img></a></h1>
          </div>
	      {% endif %}
      </div>
      <div class="row">
        <div class="grid-33">
        {% if session['login'] %}
          <h3 style="text-align: left; padding-left: 0px"><a href="{{ url_for('index') }}">Posts</a></h3>
        {% else %}
          <h3 style="text-align: left; padding-left: 0px"><a href="{{ url_for('index') }}">&nbsp&nbsp&nbsp&nbsp&nbsp</a></h3>
        {% endif %}
        </div>
        <div class="grid-33">
            <!-- Say Hi -->
          <h3>Hello{% if session['login'] %} <a href="{{ url_for('profile', user_id = session['user_id'])}}">{{ session['username'] }}</a>{% endif %}!</h3>
        </div>
        <div class="grid-33">
            <!-- Log in/Log out -->
          <h3 style="text-align: right">
            {% if session['login'] %}
              <a href="{{ url_for('logout') }}" title="Log out">Logout</a>
            {% else %}
              <a href="{{ url_for('login') }}" title="Log in">Login</a>
              &nbsp&nbsp
              <a href="{{ url_for('register') }}" title="Register">Register</a>
            {% endif %}
          </h3>
        </div>
      </div>
    </header>

      <!-- Flash messages -->
      {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="notification {{ category }}">{{ message }}</div>
          {% endfor %}
        {% endif %}
      {% endwith %}

      <div class="row">

        <div class="main">

          <nav>

            <!-- <a href="">Most Liked</a> -->
            {% if session['login'] %}
              <a href="{{ url_for('index') }}">All</a>
              <a href="{{ url_for('stream', user_id = session['user_id']) }}">Posts by people you follow</a>
              <a href="{{ url_for('stream_member') }}">Members</a>
              <a href="{{ url_for('post') }}" class="new">Create a New Post</a>
            {% endif %}

          </nav>

          {% block content %}{% endblock %}

        </div>

      </div>

      <footer>

        <div class="row" style="display: inline;">

          <p><a href="https://github.com/DevangJ/theSocialNetwork">Devang's</a> Social Network</p>

        </div>

      </footer>
      <!-- jquery -->
      <script src="/static/js/jquery-3.4.0.min.js"></script>
      <!-- end jquery -->
      <!-- Bootstrap -->
      <script src="/static/js/bootstrap.bundle.min.js"></script>
      <script src="/static/js/bootstrap.min.js"></script>
      <!-- end Bootstrap -->
      <!-- Custom JS -->
      <script src="/static/js/main.js"></script>
      <!-- end Custom JS -->
      {% block script %}
      {% endblock %}
  </body>

</html>
