{% extends 'layout.html' %}

{% block content %}
<div class="main">
  <nav>
    <a href="{{ url_for('stream_member') }}">All members</a>
    {% if session['login'] %}
      <a href="{{ url_for('stream_member_following') }}">Following</a>
      <a href="{{ url_for('stream_member_follower') }}">Followers</a>
    {% endif %}
  </nav>
</div>
{% for user in stream|reverse %}
  <article id="user-{{ user_id_fetch_by_name(user) }}">
    <a href="{{ url_for('stream', user_id = user_id_fetch_by_name(user)) }}">@{{ user }}</a>
    {% if session['login'] %}
        {% if user != session['username'] %}
          {% if user in following_list(session['user_id']) %}
            <button type="button" style=" float: right;" class="btn btn-outline-danger btn-sm unfollow-btn" id="unfollow-btn-{{ user_id_fetch_by_name(user) }}">Unfollow</button>
          {% else %}
            <button type="button" style=" float: right;" class="btn btn-outline-success btn-sm follow-btn" id="follow-btn-{{ user_id_fetch_by_name(user) }}">Follow</button>
            {% endif %}
        {% endif %}
    {% endif %}
  </article>
{% endfor %}
{% endblock %}
{% block script %}
<script src="/static/js/stream_members.js"></script>
{% endblock %}
